.output {
  width: 250px;
  height: 250px;
}

.circle-red {
  background-color: red;
  border-radius: 50%;
}

.circle-blue {
  background-color: blue;
  border-radius: 50%;
}

.circle-yellow {
  background-color: yellow;
  border-radius: 50%;
}

.circle-black {
  background-color: black;
  border-radius: 50%;
}

.square-red {
  background-color: red;
}

.square-blue {
  background-color: blue;
}

.square-yellow {
  background-color: yellow;
}

.square-black {
  background-color: black;
}

